SPG_DATA_ROOT=/path/to/data
SPG_OUTPUT_ROOT=/path/to/outputs
SPG_CACHE_ROOT=/path/to/cache
SPG_TORCH_INDEX_URL=https://download.pytorch.org/whl/cu121
SPG_PIP_INDEX_URL=https://pypi.tuna.tsinghua.edu.cn/simple
WANDB_MODE=offline
